@dhuntleypro:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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 #${GIT_TOKEN}





# legacy-peer-deps=true


# registry=https://registry.npmjs.org/

# # GitHub Packages registry for the @dhuntleypro scope
# @dhuntleypro:registry=https://npm.pkg.github.com/

# # Authentication token for GitHub Packages
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# @dhuntleypro:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:username=oauth
# //npm.pkg.github.com/:_password={Base64encodedToken}
# //npm.pkg.github.com/:email=unused
